<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.B_replyMapper">
    <select id="rlist" resultType="com.example.domain.B_replyVO">
        select b.*,u.u_image from b_reply b, users u where b_no=#{b_no} and u.id=b.replyer order by r_no desc limit #{cri.pageStart}, #{cri.perPageNum}
    </select>
   <select id="rrlist" resultType="com.example.domain.B_replyVO">
        select b.*, u.u_image from b_reply b, users u where b_no=#{b_no} and u.id=b.replyer
        order by r_no;
    </select>
    <insert id="insert">
    	insert into b_reply(b_no, content, replyer ,date)
    	values(#{b_no},#{content},#{replyer},now());
    </insert>
    <select id="replyCount" resultType="int">
    	select count(*) from b_reply where b_no=#{b_no}
    </select>
	<delete id="delete">
		delete from b_reply where r_no=#{r_no}
	</delete>
	<select id="getB_no" resultType="int">
		select b_no from b_reply where r_no=#{r_no}
	</select>
	
	<select id="getCnt" resultType="int">
		select count(*) from b_reply where b_no=#{b_no};
	</select>
	
</mapper>