<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CartMapper">
   <select id="list" resultType="com.example.domain.CartVO">
      select * from cart where id=#{id}
   </select>
   
   <insert id="cartinsert">
      insert into cart(id, p_no, buydate, p_image, title, price, quantity)
      values(#{id}, #{p_no}, now(), #{p_image}, #{title}, #{price}, #{quantity})
   </insert>
   
   <update id="cartupdate">
      update cart set quantity=quantity+#{quantity} where id=#{id} and p_no=#{p_no}
   </update>
   
   <select id="cartRead" resultType="int">
      select count(*) from cart where id=#{id} and p_no=#{p_no}
   </select>
   
   <select id="read" resultType="com.example.domain.CartVO">
      select * from cart where id=#{id}
   </select>
   
   <update id="minus">
      update cart set quantity=quantity-1 where id=#{id} and p_no=#{p_no}
   </update>
   
   <update id="plus">
      update cart set quantity=quantity+1 where id=#{id} and p_no=#{p_no}
   </update>
</mapper>