<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CartMapper">
	<select id="orders" resultType="com.example.domain.CartVO">
		
	</select>
	
	<insert id="cartinsert">
		insert into cart(id, p_no, buydate, p_image, title, price, quantity)
		values(#{id}, #{p_no}, now(), #{p_image}, #{title}, #{price}, #{quantity})
	</insert>
</mapper>