<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ExhibitionMapper">
    <select id="list" resultType="com.example.domain.ExhibitionVO">
        select * from exhibition
    </select>
	<select id="read" resultType="com.example.domain.ExhibitionVO">
		select * from exhibition where e_no=#{e_no}
	</select>
	<select id="replyCount" resultType="int">
		select count(*) from e_reply where e_no=#{e_no}
	</select>
	<insert id="insert">
    	insert into exhibition(title,content,date,addr,addr_detail,image,tel,id) 
    	values(#{title},#{content},#{date},#{addr},#{addr_detail},#{image},#{tel},#{id}) 
	</insert>
	<select id="getE_imagelist" resultType="string">
    	select images from e_imagelist where e_no=#{e_no}
    </select>
    <insert id="addE_imagelist">
    	insert into e_imagelist(e_no,images) values(#{e_no},#{images})
    </insert>
    <delete id="delE_imagelist">
    	delete from e_imagelist where e_no=#{e_no}
    </delete>
	<select id="EnoRead" resultType="int">
		select e_no from exhibition where title=#{title} and image=#{image}
	</select>
	<update id="update">
		update exhibition set title=#{title}, content=#{content}, tel=#{tel}, addr=#{addr}, addr_detail=#{addr_detail}, image=#{image}, date=#{date} where e_no=#{e_no}
	</update>
	<delete id="delete">
    	delete from exhibition where e_no=#{e_no}
    </delete>
    <select id="test" resultType="com.example.domain.ExhibitionVO">
        select * from exhibition order by date desc limit 5
    </select>
    
    	<!-- like 부문 -->
	<select id="likeTableChk" resultType="int">
		select count(*) from e_like where id=#{id} and r_no=#{r_no}
	</select>
	
	<insert id="likeinsert">
		insert into e_like values(#{id},#{r_no})
	</insert>
	
	<delete id="likedelete">
		delete from e_like where id=#{id} and r_no=#{r_no}
	</delete>
	
	<select id="likeTableCnt" resultType="int">
		select r.*, count(*) cnt from (select * from e_reply where e_no=#{e_no}) r , e_like e where e.r_no=r.r_no group by r_no;
	</select>
	
	<!-- <update id="E_likeUpdate">
		update board set e_like=#{like} where r_no=#{r_no} 
	</update> -->
</mapper>