<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MyPageMapper">
    <select id="myBlist" resultType="com.example.domain.BoardVO">
        select * from board where id=#{id} order by date desc limit 0,8
    </select>
    
    <select id="myPlist" resultType="com.example.domain.ProductVO">
        select * from product where id=#{id} order by date desc  limit 0,8
    </select>
    <select id="myFollowing" resultType="string">
    	select target from follower where follower=#{id}
    </select>
      <select id="myFollower" resultType="string">
    	select follower from follower where target=#{id}
    </select>
    
    <select id="UserRead" resultType="com.example.domain.UsersVO">
    	select * from users where id=#{id}
    </select>

	<select id="myBuyList" resultType="com.example.domain.PurchaseVO">
		select pur.*,p.* from purchase pur,product p where product_no=p.p_no and pur.orders_id=#{id} order by buyDate desc limit 0,5
	</select>
</mapper>