<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">
	<select id="bestList" resultType="com.example.domain.ProductVO">
	<![CDATA[
		select p.*, quantity from product p left join purchase pu on p.p_no=pu.p_no and report<10 order by quantity desc limit 0,10
	]]>
	</select>
	
	<select id="artgoods" resultType="com.example.domain.ProductVO">
	<![CDATA[
		select * from product where report<10 limit 0,10
	]]>
	</select>
	
	<select id="proimage" resultType="com.example.domain.ProductVO">
		select id, image from (select * from product) p
	</select>
	
	<insert id="insert">
		insert into product (id, title, content, image, price)
		values (#{id}, #{title}, #{content}, #{image}, #{price})
	</insert>
	
	<update id="update">
		update product set title=#{title}, content=#{content}, image=#{image}, price=#{price} where p_no=#{p_no}
	</update>
	
	<insert id="attachInsert">
		insert into p_imageList(p_no, images, p_images) values(#{p_no},#{images},#{images})
	</insert>
	
	<update id="attachUpdate">
		update p_imageList set images=#{images}, p_images=#{p_images} where p_no=#{p_no}
	</update>
	
	<select id="P_noRead" resultType="int">
		select p_no from product where id=#{id} and title=#{title} and content=#{content}
		and image=#{image} and price=#{price}
	</select>
	
	<select id="read" resultType="com.example.domain.ProductVO">
		select p.*, u.*, p.id p_id, u.id u_id from product p, users u where u.id=p.id and p_no=#{p_no}
	</select>
	
	<select id="readimage" resultType="com.example.domain.ProductVO">
		select * from p_imagelist where p_no=#{p_no} limit 0,5
	</select>
	
	<select id="p_image" resultType="com.example.domain.ProductVO">
		select * from p_imagelist where p_no=#{p_no}
	</select>
	
	<update id="updateViewCnt">
		update product set view = view+1 where id=#{id}
	</update>
	<select id="replyCount" resultType="int">
		select count(*) from p_reply where p_no=#{p_no}
	</select>
	<select id="qnaCount" resultType="int">
		select count(*) from qna where p_no=#{p_no}
	</select>
	<select id="orderGetCnt" resultType="int">
	select count(*) from orders where id=#{id}
	</select>
	
	<select id="addrList" resultType="com.example.domain.UsersVO">
		select * from address where id=#{id}
	</select>
	
	<select id="buyCart" resultType="com.example.domain.CartVO">
		select c.*,nickname from cart c,product p,users u where c.p_no=p.p_no and u.id=p.id and c.id=#{id} and p_image=#{p_image}
	</select>
	
	<select id="getOrders" resultType="int">
		select count(*) from orders where id=#{id}
	</select>
	<insert id="InsertOrders">
		insert into orders(id) values(#{id});
	</insert>
	<insert id="InsertPurchase">
		insert into purchase(orders_id,quantity,product_no,requirement)
		values(#{orders_id},#{quantity},#{product_no},#{requirement})
	</insert>
	
	<update id="UpdatePoint">
		update users set point=#{point} where id=#{id}
	</update>
	
	<select id="chkAddr" resultType="int">
		select count(*) from users where id=#{id} and addr=#{addr}
	</select>
	
		<select id="chkAddrList" resultType="int">
		select count(*) from address where id=#{id} and addr=#{addr}
	</select>
	
	<insert id="InsertAddressList">
		insert into address values(#{id},#{addr})
	</insert>
	
		<!-- like 부문 -->
	<select id="likeTableChk" resultType="int">
		select count(*) from p_like where id=#{id} and r_no=#{r_no}
	</select>
	
	<insert id="likeinsert">
		insert into p_like values(#{id},#{r_no})
	</insert>
	
	<delete id="likedelete">
		delete from p_like where id=#{id} and r_no=#{r_no}
	</delete>
	
	<select id="likeTableCnt" resultType="int">
		select r.*, count(*) cnt from (select * from p_reply where p_no=#{p_no}) r , p_like p where p.r_no=r.r_no group by r_no;
	</select>
</mapper>